.App {
  text-align: center;
}

.board {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  font-size: 50px;
  border-collapse: collapse;
}

.middle-row {
  border-top: 2px solid green;
  border-bottom: 2px solid green;
}

.middle-column {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.records {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
